<!-- <div class="content" role="main" style="margin: 0">
  <nav
    style="
      display: flex;
      gap: 10px;
      font-size: 1.2rem;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: antiquewhite;
      background-color: rgba(54, 54, 54, 0.779);
    "
  >
    <h2 style="margin: 0 1em">Routing and Navigation</h2>
    <div style="display: flex; gap: 20px; margin: 0 1em">
      <a
        style="color: antiquewhite; text-decoration: none"
        routerLink="/todoapp"
        routerLinkActive="active"
        >Todo app</a
      >
      <a
        style="color: antiquewhite; text-decoration: none"
        routerLink="/twowaybinding"
        routerLinkActive="active"
        >Two way binding</a
      >
      <a
        style="color: antiquewhite; text-decoration: none"
        routerLink="/structuraldirectives"
        routerLinkActive="active"
        >structuraldirectives</a
      >
    </div>
  </nav>
</div>
<br /> -->



<!-- <app-todo-angular></app-todo-angular> -->
<!-- <app-component-interaction></app-component-interaction> -->

<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-reactjs></app-reactjs> -->
<!-- <app-structuraldirectives></app-structuraldirectives> -->
<app-servers> </app-servers>
<!-- <app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert> -->
<router-outlet></router-outlet>
